<% provide(:title, "Add a Recipe") %>
<% provide(:desc, "Contribute a recipe to the Camping Recipe's community") %>

<div class="span8">
  <h1>Add a Recipe</h1>

  <%= render 'form' %>
</div>

<div class="span4">
  <%= render 'shared/sidebar' %>
</div>
