<% provide(:title, "#{@recipe.title} Recipe") %>
<% provide(:desc, "") %>
<div class="row">
  <div class="span6">
    <h1><%= @recipe.title %></h1>
  </div>
  <div class="span2">
    <p>SOCIAL</p>
  </div>
</div>
<div class="row">
  <div class="span3">
    <span class="drop-shadow lifted">
      <% if @recipe.picture.present? %>
        <%= image_tag @recipe.picture_url(:thumb) %>
      <% else %>
        <%= image_tag 'default.jpg' %>
      <% end %>
    </span>
  </div>
  <div class="span5">
  </div>
</div>


<%= link_to 'Edit', edit_recipe_path(@recipe) %>
