<div class="row">
  <div class="span12">
      <ul class="footer-nav">
        <li class="footer-li"><%= link_to '<i class="icon-question-sign link-icon"></i> About'.html_safe, about_path %></li>
        <li class="footer-li"><%= link_to '<i class="icon-inbox link-icon"></i> Contact'.html_safe, contact_path %></li>
        <li><%= link_to '<i class="icon-eye-open link-icon"></i> Privacy Policy'.html_safe, privacy_path %></li>
      </ul>
  </div>
</div>


