<div class="row">
  <div class="span4">
    <%= link_to "Add a Recipe", new_recipe_path, class: 'btn btn-warning btn-block bolded sidebar-btn' %>
    <%= link_to "Camping Cooking Gear", cooking_gear_path, class: 'bolded fonted btn btn-block' %>
  </div>
</div>

<div class="row">
  <div class="span4">
  
  </div>
</div>
