<div class="sign-up-prompt">
  <%= link_to "Sign in", new_user_session_path %> or <%= link_to "sign up", new_user_registration_path %> to add recipes, write reviews and create a meal plan for your next adventure.
</div>
