<% provide(:title, "Contact") %>
<% provide(:desc, "Contact Camping Recipes") %>

<div class="span8">
  <h1>Contact Camping Recipes</h1>
  <div class="row">
    <div class="span8">
      <p class="static-page-p">Send any and all email to:</p>
      <p class="static-page-p bolded">admin [at] campingrecipes [dot] co</p>
    </div>
  </div>
</div>

<div class="span4">
  <%= render 'shared/sidebar' %>
</div>
