//************** VARIABLES / MIXIN CLASSES **************//

$or: #CD400F;

.fonted {
  font-family: 'Merriweather', sans-serif;
}

.float-right {
  float: right;
}

.clear-right {
  clear: right;
}

.float-left {
  float: left;
}

.clear-left {
  clear: left;
}

.gray-me {
  color: #888;
}

.bolded {
  font-weight: bold;
}

.h-margin {
  margin-bottom: 0;
}

.pretty-date {
  margin-bottom: 0;
  color: #888;
  font-size: 12px;
  @extend .fonted;
}

.pretty-username {
  font-size: 16px;
  @extend .fonted;
}

.username-star {
  margin-top: 2px;
}

//************** APPLICATION WIDE **************//


html, body {
  height: 100%; // for footer
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}
      
.alert {
  margin-bottom: 2px;
}

.alert-last {
  margin-bottom: 21px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Englebert', sans-serif;
}

h1 {
  font-size: 30px;
}

label {
  @extend .fonted;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
  border-color: rgba($or, 0.5);
  @include box-shadow(#{0 0 10px rgba($or,0.6), 0 -1px 0 rgba($or,.25) inset});
  @include transition(all .2s linear);
}

input, textarea, .uneditable-input {
  width: 150px;
}

select {
  width: 164px;
}

.field {
  padding-bottom: 10px;
}

.form-explain {
  @extend .fonted;
  color: #aaa;
  padding-left: 5px;
}

.header-explain {
  color: #aaa;
  padding-left: 5px;
}

.btn {
  @extend .fonted;
}

.actions input[type="submit"] {
  @extend .btn;
  @extend .btn-warning;
  @extend .fonted;
  font-weight: bold;
}

.error-msg {
  color: red;
  @extend .fonted;
}

#error_explanation {
  h2 {
    font-size: 22px;
  }
  ul li {
    @extend .fonted;
    color: red;
  }
}

.drop-shadow {
    position:relative;
    float:left;
    //width:40%;
    //padding:1em;
    //margin:2em 10px 4em;
    margin: 0 10px 0 0;
    background:#fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.drop-shadow:before,
.drop-shadow:after {
    content:"";
    position:absolute;
    z-index:-2;
}

.lifted {
    -moz-border-radius:4px;
         border-radius:4px;
         padding: 3px; //added by me
}

.lifted:before,
.lifted:after {
    bottom:15px;
    left:10px;
    width:50%;
    height:20%;
    max-height:100px;
    -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
       -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
            box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform:rotate(-3deg);
       -moz-transform:rotate(-3deg);
        -ms-transform:rotate(-3deg);
         -o-transform:rotate(-3deg);
            transform:rotate(-3deg);
}

.lifted:after {
    right:10px;
    left:auto;
    -webkit-transform:rotate(3deg);
       -moz-transform:rotate(3deg);
        -ms-transform:rotate(3deg);
         -o-transform:rotate(3deg);
            transform:rotate(3deg);
}

.pin-button {
  @extend .float-left;
  padding-right: 10px;
}

.pretty-pic {
  padding: 2px;
  border: 1px solid #ddd;
  @include border-radius(2px);
}

.center-paginate {
  text-align: center;
}

//************** HEADER **************//

.navbar {
  font-family: 'Englebert', sans-serif;
  .nav > li > a {
    padding: 22px 10px;
    font-size: 20px;
    i, [class^="icon-"], [class*=" icon-"] {
      vertical-align: top;
      margin-top: 0;
    }
  }
  .brand {
    font-size: 30px;
    padding: 0 10px 0 20px;
    .brand-tld {
      font-family: 'Merriweather', sans-serif;
      font-size: 25px;
      color: $or;
    }
  }
}

.header-user-ul > li:last-child a {
  padding-right: 0;
}

//************** HOME **************//

.join-now {
  width: 100%;
  height: 430px;
  background-image: url('home.jpg');
  position: relative;
  .join-now-btn {
    margin: 40px 0 0 40px;
  }
  .home-query {
    margin: 40px 0 0  0;
    height: 34px;
    width: 200px;
    @include border-radius(10px);
    font-size: 20px;
    line-height: 28px;
  }
  .home-search-btn {
    margin: 40px 40px 0 5px;
    @extend .btn-large;
  }
  #home-search-form {
    margin: 0;
  }
  .about-pic {
    @extend .fonted;
    font-size: 11px;
    color: #777;
    background: rgba(50, 50, 50, 0.5);
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 20px 20px;
    padding: 5px;
    a:hover {
      text-decoration: none;
    }
  }
}

.about-cr {
  @extend .fonted;
  font-size: 32px;
  border-bottom: 2px dotted #aaa;
  text-align: center;
  padding: 20px 0;
}

.social-bump {
  margin-bottom: 3px;
}

.home-recipe-title {
  h3 {
    border-top: 1px dotted #aaa;
    padding-top: 10px;
  }
  &:hover {
    text-decoration: none;
  }
}

//************** RECIPES#SHOW **************//

.recipe-meta {
  margin-left: -20px;
  float: left;
  td {
    @extend .fonted;
  }
  tr {
    padding-bottom: 3px;
  }
  .show-label {
    font-weight: bold;
    width: 160px;
  }
}

.recipe-show-h1 {
  margin-bottom: 0px;
}

#review_content {
  width: 516px;
  height: 200px;
  max-width: 516px;
  max-height: 200px;
}

.review-meta {
  @extend .fonted;
  border-bottom: 1px dotted #aaa;
  .show-review-stars {
    @extend .float-right;
    padding-top: 15px;
  }
}

.username-top {
  padding-top: 5px;
}

.username-star-top {
  margin-top: 2px;
}

.average-stars {
  img {
    vertical-align: top;
  }
}

.cat-list {
  padding: 20px;
  list-style: none;
  width: 100px;
}

.position-relative {
  position: relative;
  height: 206px;
}

.position-fixed {
  position: absolute;
  bottom: 0;
  left: 0;
}

.show-social-buttons {
  margin-left: -20px;
}

.edit-review-btn {
  margin: 15px 0 0 5px;
}

.edit-recipe-btn {
  margin-bottom: 5px;
}

.add-review-btn {
  margin-top: 10px;
}

.review-content {
  padding: 5px 0 40px 0;
}

.no-reviews {
  @extend .fonted;
  margin: 10px 0 20px 0;
}

.pretty-pic-top {
  @extend .pretty-pic;
  margin: 3px 0 0 3px;
}

.pretty-pic-reviews {
  @extend .pretty-pic;
  margin: 0 3px 4px 0;
}

//************** RECIPES#NEW **************//

#recipe_title, #recipe_introduction, #recipe_preperation {
  width: 600px;
  max-width: 600px;
}

#recipe_introduction, #recipe_preperation {
  height: 200px;
  max-height: 300px;
}

input[type="checkbox"] {
  //padding-right: 5px;
  margin: 2px 5px 0 0;
  float: left;
}

.ingredients input {
  width: 230px;
}

.remove-ing {
  padding-left: 5px;
  line-height: 30px;
  @extend .fonted;
}

.add-ing-button {
  @extend .btn;
  @extend .btn-small;
  @extend .btn-warning;
  @extend .fonted;
  @extend .bolded;
  a {
    color: #fff;
    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }
}

.add-cats {
  padding-left: 20px;
}

//************** RECIPES#INDEX **************//

.index-filter-list {
  @extend .lifted, .drop-shadow;
  list-style: none;
  padding: 10px;
  margin: -10px 0 20px 0;
  width: 120px;
}

.recipe-listing {
  border-top: 1px dotted #aaa;
  margin-bottom: 10px;
}

.index-title {
  &:hover {
    text-decoration: none;
  }
}

.index-sort-by-form {
  margin: 10px 0 5px 0;
  width: 250px;
}

.index-search-form {
  margin: 10px 0 5px 0;
}

.index-search-btn {
  margin: 10px 0 5px 5px;
}

.index-recipe-meta {
  font-size: 12px;
  td {
    @extend .fonted;
  }
  tr {
    padding-bottom: 3px;
  }
  .index-label {
    font-weight: bold;
    width: 130px;
  }
}

//************** REVIEWS#EDIT+NEW **************//

.review-rating {
  padding-bottom: 5px;
}

//************** CALORIES-CALC **************//

.calc-day-field {
  @extend .float-left, .clear-left;
  width: 40px;
  margin-right: 5px;
}

.gender-select {
  @extend .calc-day-field;
  width: 90px;
}

.day-select {
  @extend .calc-day-field;
  width: 130px;
}

.calc-day-label {
  @extend .fonted;
  line-height: 35px;
}

.remove-calc {
  padding-left: 15px;
  line-height: 40px;
  a {
    @extend .fonted, .bolded, .btn, .btn-warning, .btn-mini;
    margin-bottom: 10px;
  }
}

.add-btn-calc a {
  @extend .fonted, .bolded, .btn, .btn-warning, .btn-mini;
}

#meal_plan_yes, #meal_plan_no {
  @extend .float-left;
  margin-right: 5px;
}

.meal-plan-btn {
  @extend .fonted, .calc-day-label;
  line-height: 25px;
}

.days-explain {
  li {
    @extend .fonted;
  }
}

.calorie-day {
  @extend .fonted;
  width: 100%;
  th {
    text-align: left;
  }
  .calories-column {
    text-align: right;
  }
  tr {
    border-top: 1px solid #ccc;
    td {
      padding: 3px 0;
    }
  }
  tr:first-child {
    border-top: 0;
  }
}

.results-explain {
  font-size: 13px;
  color: #777;
}

//************** MEAL-PLAN#NEW + EDIT **************//

//************** USER#SHOW / USER#EDIT **************//

.user-edit-btn {
  margin: 10px 0 0 0;
}

.user-show-meta {
  margin-left: -20px;
  @extend .fonted;
  .user-show-label {
    @extend .bolded;
    width: 100px;
  }
  .about-me-label {
    vertical-align: top;
  }
}

#user_bio {
  max-width: 500px;
  max-height: 200px;
  width: 500px;
  height: 200px;
}

.user-show-stars img {
  vertical-align: top;
}

.user-recipe-title {
  h4 {
    padding-top: 3px;
  }
  &:hover {
    text-decoration: none;
  }
}

.user-show-border {
  border-top: 1px dotted #aaa;
}


//************** STATICS **************//

.static-page-p {
  @extend .fonted;
  font-size: 17px;
  line-height: 28px;
}

.gear-page-p {
  @extend .fonted;
  font-size: 15px;
  line-height: 22px;
}

.gear-page-li {
  @extend .fonted;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 10px;
}

//************** COOKING GEAR **************//

.gear-page-img {
  img {
    max-height: 75px;
    max-width: 75px;
  }
  @extend .drop-shadow, .lifted;
}

.gear-page-link {
  .gear-page-h4 {
    margin-bottom: 0px;
    padding-top: 2px;
  }
  &:hover {
    text-decoration: none;
  }
}

.price-td {
  width: 100%;
  vertical-align: top;
}

.gear-retail-price {
  text-decoration: line-through;
  @extend .fonted, .float-left;
  font-weight: bold;
  font-size: 17px;
  margin: 0 10px 0 0;
}

.gear-sale-price {
  @extend .fonted, .float-left;
  font-weight: bold;
  font-size: 17px;
  margin: 0;
  &:hover {
    text-decoration: none;
  }
}

.gear-desc {
  @extend .clear-right, .fonted;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 5px;
}

.ad-bump {
  margin-top: 60px;
}

//************** SIDEBAR **************//

.sidebar-btn {
  margin: 10px 0 10px 0;
}

.cooking-gear-link {
  &:hover {
    text-decoration: none;
  }
}

.sidebar-bump {
  margin-bottom: 25px;
}

.sidebar-a {
  .sidebar-h4 {
    @extend .fonted;
    font-size: 14px;
    margin-bottom: 0px;
    padding-top: 2px;
  }
  &:hover {
    text-decoration: none;
  }
}

.sidebar-search-btn {
  margin: 10px 0 0 5px;
}

#sidebar-query {
  width: 208px;
  margin-bottom: 0;
  margin-top: 10px;
}

#sidebar-search-form {
  margin: 0;
}

//************** FOOTER **************//

#footer {
  height: 59px; // 60 - 1 for the 1px border
}

#push {
  height: 100px;
}

#footer {
  @include background-image(linear-gradient(#F2F2F2, white));
  background-color: #FAFAFA;
  border-top: 1px solid #D4D4D4;
}

.footer-nav {
  @include horizontal-list;
  float: right;
  .footer-li {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #D4D4D4;
  }
  li {
    padding: 5px 0;
    margin: 13px 0;
    a {
      color: #777;
      text-decoration: none;
      text-shadow: 0 1px 0 white;
      font-family: 'Englebert', sans-serif;
      font-size: 20px;
      &:hover {
        color: #333;
      }
      i {
        vertical-align: top;
      }
    }
  }
}
